.App {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size:1.5em;
  /* display: flex;
  align-items: center;
  flex-direction: column */

}

a {
  text-decoration: none;
  color: #222;
}

.App-header {
  background-color: #222;
  height: 4em;
  padding: 20px;
  color: white;
  margin-bottom: 2em;
  margin-top: 2em;
  
}

.App-title {
  font-size: 1.5em;
  align-content: center;
}

input[type="text"], optgroup, select
{
    font-size:1em;
    text-align:center
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

